In [1]:
# Importing libraries

import scipy.stats as stat
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Reading csv

df = pd.read_csv(r'C:\Users\User\Desktop\Projects\Mini-Project\Sales_add.csv')

In [2]:
# Displaying first few rows

df.head()

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402

In [3]:
# Concise summary of dataset

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 5 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Month                           22 non-null     object
 1   Region                          22 non-null     object
 2   Manager                         22 non-null     object
 3   Sales_before_digital_add(in $)  22 non-null     int64
 4   Sales_After_digital_add(in $)   22 non-null     int64
dtypes: int64(2), object(3)
memory usage: 1008.0+ bytes

**Insight : There are no missing values and there are 22 rows and 5 columns**

In [4]:
# Checking for null values

df.isnull().sum()

Month                             0
Region                            0
Manager                           0
Sales_before_digital_add(in $)    0
Sales_After_digital_add(in $)     0
dtype: int64

**Insight : There are no null values**

In [5]:
# Statistical summary of dataset

df.describe()

       Sales_before_digital_add(in $)  Sales_After_digital_add(in $)
count                       22.000000                      22.000000
mean                    149239.954545                  231123.727273
std                      14844.042921                   25556.777061
min                     130263.000000                  187305.000000
25%                     138087.750000                  214960.750000
50%                     147444.000000                  229986.500000
75%                     157627.500000                  250909.000000
max                     178939.000000                  276279.000000

**Insight : Here we can see that the minimum  and maximum sales before and after introduction of digital marketing as well as the average sales in these two columns**

## Here we can take the T-test for the two independent samples of score

In [9]:
# 2 sample T-test

ttest,pval = stat.ttest_ind(df['Sales_After_digital_add(in $)'],df['Sales_before_digital_add(in $)'],alternative="greater")
print("P - value",f"{pval:.27f}")

P - value 0.000000000000000130718400345

**• Here H0 : Sales after digital marketing > Sales before digital marketing
<br>• H1 : Sales after digital marketing <= Sales before digital marketing
<br> Insight : Here the P value is less than 0.05 so We reject null hypothesis that is : Sales after  digital marketing <= Sales before digital marketing.
<br>• So according to the above output we can say that there is no increase in sale after the company has entered into digital marketing**

In [10]:
# Checking unique values in the dataset

df.nunique()

Month                             22
Region                             3
Manager                            3
Sales_before_digital_add(in $)    22
Sales_After_digital_add(in $)     22
dtype: int64

**Insight : We can see that there are 3 unique managers and regions in the datset**

In [11]:
# Using crosstab() to summarize managers and region

rm=pd.crosstab(df.Region,df.Manager)
rm

Manager     Manager - A  Manager - B  Manager - C
Region
Region - A            4            3            3
Region - B            4            1            2
Region - C            1            3            1

## Here we can use Chi-squared test of independence

In [14]:
from scipy.stats import chi2_contingency
ch=chi2_contingency(rm)
print("P Value : ",ch[1])

P Value :  0.5493991051158094

**• Here H0 : Region and Manager are independent features
<br> • Here H1 : Region and Manager are dependent features
<br> Insight : here the P value is greater that 0.05 we accept the null hypothesis that is : Region and Manager are independent features**